1_data/.DS_Store
1_data/CBF_files/SPM12_raw
1_data/PET_maps/.DS_Store
1_data/Parcellation_atlas/.DS_Store
1_data/CBF_files/.DS_Store
2_scripts/.DS_Store
2_scripts/4_multiple_comparisons.py
3_results/.DS_Store
3_results/3.1_parcellations/.DS_Store
3_results/3.2_nulls/.DS_Store
3_results/3.3_correlations/.DS_Store
4_figures/.DS_Store
.DS_Store
