1_data/.DS_Store
1_data/CBF_files/SPM12_raw
1_data/PET_maps/.DS_Store
1_data/Parcellation_atlas/.DS_Store
1_data/CBF_files/.DS_Store
2_scripts/.DS_Store
2_scripts/4_multiple_comparisons.py
3_results/.DS_Store
3_results/3.1_parcellations/.DS_Store
3_results/3.2_nulls/.DS_Store
3_results/3.3_correlations/.DS_Store
4_figures/receptor_maps_screenshots
4_figures/.DS_Store
.DS_Store
2_scripts/2.1_DK_scripts/1_CBF_parcellate_DK.py
2_scripts/2.1_DK_scripts/1_PET_parcellate_DK.py
2_scripts/2.1_DK_scripts/2_nulls_DK.py
2_scripts/2.1_DK_scripts/3_compare_images_DK.py
2_scripts/2.1_DK_scripts/4_multiple_comparisons_DK.py
3_output/3.4_DK_parcellations/CBF_cov_age_gender_caffeine_nicotine.txt
3_output/3.4_DK_parcellations/CBF_cov_age_gender.txt
3_output/3.4_DK_parcellations/CBF_no_cov.txt
3_output/3.4_DK_parcellations/D1_sch23390_kaller2017.txt
3_output/3.4_DK_parcellations/D2_fallypride_jaworska2020.txt
3_output/3.4_DK_parcellations/DAT_fpcit_dukart2018.txt
3_output/3.4_DK_parcellations/FDOPA_fluorodopa_hc12_gomez.txt
3_output/3.4_DK_parcellations/GABAa5_Ro15_10hc_lukow.txt
3_output/3.4_DK_parcellations/GABAbz_flumazenil_norgaard2021.txt
3_output/3.4_DK_parcellations/mGluRR5_abp688_smart2019.txt
3_output/3.4_DK_parcellations/NMDA_ge179_galovic2021.txt
3_output/3.4_DK_parcellations/O-LIFE-CD-covars.txt
3_output/3.4_DK_parcellations/O-LIFE-CD.txt
3_output/3.4_DK_parcellations/O-LIFE-IA-covars.txt
3_output/3.4_DK_parcellations/O-LIFE-IA.txt
3_output/3.4_DK_parcellations/O-LIFE-UE-covars.txt
3_output/3.4_DK_parcellations/O-LIFE-UE.txt
3_output/3.5_DK_nulls/nulls_CBF_cov_age_gender_122.npy
3_output/3.5_DK_nulls/nulls_CBF_cov_age_gender_caffeine_nicotine_122.npy
3_output/3.5_DK_nulls/nulls_CBF_no_cov_122.npy
3_output/3.5_DK_nulls/nulls_O-LIFE-CD_122.npy
3_output/3.5_DK_nulls/nulls_O-LIFE-CD-covars_122.npy
3_output/3.5_DK_nulls/nulls_O-LIFE-IA_122.npy
3_output/3.5_DK_nulls/nulls_O-LIFE-IA-covars_122.npy
3_output/3.5_DK_nulls/nulls_O-LIFE-UE_122.npy
3_output/3.5_DK_nulls/nulls_O-LIFE-UE-covars_122.npy
3_output/3.6_DK_correlations/all_correlations_p_adj.csv
3_output/3.6_DK_correlations/all_correlations.csv
2_scripts/test.py
1_data/Parcellation_atlas/DKT_space-MNI152NLin6_res-2x2x2_no_brainstem.nii
